<launch>
  <include file="$(find jsk_2014w_rinko)/launch/pr2_psmove.launch">
    <arg name="use_arm" value=":rarm" />
    <arg name="y_offset" value="-0.4" />
    <arg name="z_far" value="1.2" />
    <arg name="launch_openni" value="false" />
    <arg name="launch_creative" value="true" />
    <arg name="camera" value="creative_gesture" />
    <arg name="image" value="/right/creative_gesture/rgb/image_rect_color" />
    <arg name="debug" value="false" />
    <arg name="ns" value="/right" />
  </include>
</launch>
